Repository raspberrypi/pico-sdk, pull requests merged in 2024-06, with the labels that each got.

#1699 pico_flash stops including certain unneeded headers
  src/rp2_common/pico_flash/flash.c
  src/rp2_common/pico_flash/include/pico/flash.h
Labels: pico_flash

#1678 Update dma.h (Fixes #1677) (Inline docs only)
  src/rp2_common/hardware_dma/include/hardware/dma.h
Labels: documentation, hardware_dma

#1630 set git tag for the SDK
  external/pico_sdk_import.cmake
Labels: build

#1730 Added Newsan's Archi board
  src/boards/include/boards/archi.h
Labels: board settings

#1720 Fix FIFO size in Doxygen in hardware/adc.h
  src/rp2_common/hardware_adc/include/hardware/adc.h
Labels: documentation, hardware_adc

#1667 Add support for the iLabs OpenDec02 DCC decoder
  src/boards/include/boards/ilabs_opendec02.h
Labels: board settings

#1648 Make it easier to configure default baud rate
  src/rp2_common/hardware_uart/CMakeLists.txt
Labels: build, hardware_uart, orphan PR

#1499 pico_cyw43_driver/cyw43_bus_pio_spi.c: make SPI_PROGRAM_NAME and CLOC…
  src/rp2_common/pico_cyw43_driver/cyw43_bus_pio_spi.c
Labels: cyw43_driver

#1620 Fix PICO_DEOPTIMIZED_DEBUG not updating compiler flags
  cmake/preload/toolchains/set_flags.cmake
Labels: build

#1619 fix harware_alarm_irq_number typo
  src/rp2_common/hardware_timer/timer.c
Labels: pico_time

#1613 corrected issue#1536 - used correct define to create a configuration …
  src/rp2_common/pico_i2c_slave/i2c_slave.c
Labels: hardware_i2c

#1633 Fixed an issue that caused incorrect settings when the SPI clock was …
  src/rp2_common/hardware_spi/spi.c
Labels: hardware_spi, orphan PR
