Repository raspberrypi/pico-sdk, pull requests merged in 2024-11, with the labels that each got.

#2015 boards/pimoroni_plasma2350.h: correct flash size.
  src/boards/include/boards/pimoroni_plasma2350.h
Labels: board settings

#2002 Move CYW43-related PICO_CONFIG lines to cyw43_driver.h
  src/boards/include/boards/pico2_w.h
  src/boards/include/boards/pico_w.h
  src/rp2_common/pico_cyw43_driver/include/pico/cyw43_driver.h
Labels: cyw43_driver, board settings

#2048 PPP2 and Plasma2350: SPICE to SPCE.
  src/boards/include/boards/pimoroni_pico_plus2_rp2350.h
  src/boards/include/boards/pimoroni_plasma2350.h
Labels: board settings

#2038 Add SparkFun ThingPlus RP2350
  src/boards/include/boards/sparkfun_thingplus_rp2350.h
Labels: board settings

#2033 More CYW43 config tweaks
  src/rp2_common/pico_cyw43_driver/CMakeLists.txt
  src/rp2_common/pico_cyw43_driver/include/pico/cyw43_driver.h
  tools/extract_build_defines.py
  tools/extract_cmake_configs.py
  tools/extract_configs.py
Labels: cyw43_driver

#2060 disable all IRQs in dma_chanel_cleanup - fixes for RP2350
  src/rp2_common/hardware_dma/dma.c
Labels: hardware_dma

#2034 Propogate changed pico_cmake_set_default values to the compilation
  cmake/generic_board.cmake
  pico_sdk_init.cmake
  src/boards/include/boards/adafruit_feather_rp2350.h
  src/boards/include/boards/datanoisetv_rp2350_dsp.h
  src/boards/include/boards/defcon32_badge.h
  src/boards/include/boards/gen4_rp2350_24.h
  src/boards/include/boards/gen4_rp2350_24ct.h
  src/boards/include/boards/gen4_rp2350_24t.h
  src/boards/include/boards/gen4_rp2350_28.h
  src/boards/include/boards/gen4_rp2350_28ct.h
  src/boards/include/boards/gen4_rp2350_28t.h
  src/boards/include/boards/gen4_rp2350_32.h
  src/boards/include/boards/gen4_rp2350_32ct.h
  src/boards/include/boards/gen4_rp2350_32t.h
  src/boards/include/boards/gen4_rp2350_35.h
  src/boards/include/boards/gen4_rp2350_35ct.h
  src/boards/include/boards/gen4_rp2350_35t.h
  src/boards/include/boards/hellbender_0001.h
  src/boards/include/boards/hellbender_2350A_devboard.h
  src/boards/include/boards/ilabs_challenger_rp2350_bconnect.h
  src/boards/include/boards/ilabs_challenger_rp2350_wifi_ble.h
  src/boards/include/boards/melopero_perpetuo_rp2350_lora.h
  src/boards/include/boards/phyx_rick_tny_rp2350.h
  src/boards/include/boards/pico2.h
  src/boards/include/boards/pico2_w.h
  src/boards/include/boards/pimoroni_pga2350.h
  src/boards/include/boards/pimoroni_pico_plus2_rp2350.h
  src/boards/include/boards/pimoroni_plasma2350.h
  src/boards/include/boards/pimoroni_tiny2350.h
  src/boards/include/boards/seeed_xiao_rp2350.h
  src/boards/include/boards/solderparty_rp2350_stamp.h
  src/boards/include/boards/solderparty_rp2350_stamp_xl.h
  src/boards/include/boards/sparkfun_promicro_rp2350.h
  src/boards/include/boards/switchscience_picossci2_conta_base.h
  src/boards/include/boards/switchscience_picossci2_dev_board.h
  src/boards/include/boards/switchscience_picossci2_micro.h
  src/boards/include/boards/switchscience_picossci2_rp2350_breakout.h
  src/boards/include/boards/switchscience_picossci2_tiny.h
  src/boards/include/boards/tinycircuits_thumby_color_rp2350.h
  src/common/pico_base_headers/CMakeLists.txt
  tools/CMakeLists.txt
  tools/check_board_header.py
Labels: build, board settings

#2086 RISC-V __mulsf3: handle exponent increase due to rounding
  src/rp2_common/pico_float/float_single_hazard3.S
  test/pico_float_test/pico_float_test_hazard3.c
Labels: bug

#2092 Add board file for Pimoroni Pico Plus 2 W
  src/boards/include/boards/pimoroni_pico_plus2_w_rp2350.h
Labels: board settings
