Repository raspberrypi/pico-sdk, pull requests merged in 2024-05, with the labels that each got.

#1650 Add some missing i2c function documentation
  src/rp2_common/hardware_i2c/include/hardware/i2c.h
Labels: documentation, hardware_i2c

#1625 [pioasm] Fix build warning due to extra parameters
  tools/pioasm/json_output.cpp
Labels: pioasm

#1501 Added comments referencing spin-lock lock/unlock read/writes
  src/rp2_common/hardware_sync/include/hardware/sync.h
Labels: hardware_sync

#1473 Add board definition for Cytron Maker Pi RP2040
  src/boards/include/boards/cytron_maker_pi_rp2040.h
Labels: board settings

#1571 Corrects clk_sys auxillary source documentation
  src/rp2_common/hardware_clocks/include/hardware/clocks.h
Labels: documentation, hardware_clocks
