Repository raspberrypi/pico-sdk, pull requests merged in 2024-07, with the labels that each got.

#1404 use best_effort_wfe_or_timeout instead of wfe for multicore_pop
  src/rp2_common/pico_multicore/multicore.c
Labels: pico_multicore

#1504 IRQ enabling guard (when no callback set)
  src/rp2_common/hardware_gpio/gpio.c
Labels: hardware_gpio

#1645 Add C11 standard atomic support
  src/rp2_common/CMakeLists.txt
  src/rp2_common/pico_atomic/CMakeLists.txt
  src/rp2_common/pico_atomic/include/stdatomic.h
  src/rp2_common/pico_atomic/pico_atomic.c
  src/rp2_common/pico_runtime/CMakeLists.txt
Labels: clib-interface

#1411 Add support for SEGGER RTT STDIO (updated)
  src/rp2_common/CMakeLists.txt
  src/rp2_common/pico_stdio/include/pico/stdio.h
  src/rp2_common/pico_stdio/stdio.c
  src/rp2_common/pico_stdio_rtt/CMakeLists.txt
  src/rp2_common/pico_stdio_rtt/SEGGER/Config/SEGGER_RTT_Conf.h
  src/rp2_common/pico_stdio_rtt/SEGGER/RTT/SEGGER_RTT.c
  src/rp2_common/pico_stdio_rtt/SEGGER/RTT/SEGGER_RTT.h
  src/rp2_common/pico_stdio_rtt/include/pico/stdio_rtt.h
  src/rp2_common/pico_stdio_rtt/stdio_rtt.c
  src/rp2_common/pico_stdlib/CMakeLists.txt
  test/pico_stdio_test/CMakeLists.txt
Labels: pico_stdio

#1767 Add 8086 USB Interposer board
  src/boards/include/boards/net8086_usb_interposer.h
Labels: board settings

#1761 Add board definition for Adafruit Feather RP2040 with USB Type A Host
  src/boards/include/boards/adafruit_feather_rp2040_usb_host.h
Labels: board settings

#1462 Add gpio_set_function_mask function
  src/rp2_common/hardware_gpio/gpio.c
  src/rp2_common/hardware_gpio/include/hardware/gpio.h
Labels: missing API, review, hardware_gpio, orphan PR

#1487 Add board file for Pi-Plates MICROPi
  src/boards/include/boards/pi-plates_micropi.h
Labels: board settings

#1775 Add extra checks to check_board_header.py
  src/rp2040/rp2040_interface_pins.json
  tools/check_board_header.py
Labels: board settings

#1709 Clarify uart_write_blocking() API vs UART still busy sending (#1274)
  src/rp2_common/hardware_uart/include/hardware/uart.h
Labels: documentation, hardware_uart
