Repository raspberrypi/pico-sdk, pull requests merged in 2025-01, with the labels that each got.

#2135 Restore the "API Documentation" link in sidebar when building with Doxygen >= 1.9.8
  docs/CMakeLists.txt
  docs/Doxyfile.in
  docs/DoxygenLayout.xml.in
Labels: documentation, build

#2098 Fix: solve the problem that micropython could not be used
  src/boards/include/boards/seeed_xiao_rp2350.h
Labels: board settings

#2197 Fix aon_timer_is_running() brief
  src/rp2_common/pico_aon_timer/include/pico/aon_timer.h
Labels: documentation

#2165 Provide incoming HCI buffer for BTstack
  src/rp2_common/pico_cyw43_driver/btstack_hci_transport_cyw43.c
Labels: cyw43_driver

#2143 Add SparkFun IoT Node LoRaWAN Board
  src/boards/include/boards/sparkfun_iotnode_lorawan_rp2350.h
Labels: board settings
