Repository raspberrypi/pico-sdk, pull requests merged in 2025-02, with the labels that each got.

#2248 boards/adafruit_feather_rp2350.h: add PICO_XOSC_STARTUP_DELAY_MULTIPLIER
  src/boards/include/boards/adafruit_feather_rp2350.h
Labels: board settings

#2245 Increase deault PICO_CONFIG: PICO_XOSC_STARTUP_DELAY_MULTIPLIER to 6ms
  src/rp2_common/hardware_xosc/include/hardware/xosc.h
Labels: hardware_xosc

#2265 Fix `WAIT GPIO n` for n > 32 and when using gpio_base = 16
  src/rp2_common/hardware_pio/include/hardware/pio_instructions.h
  src/rp2_common/hardware_pio/pio.c
  tools/pioasm/pio_assembler.cpp
Labels: hardware_pio

#2255 update previous fix as 1.0 < clkdiv < 2.0 IS supported on RP2350
  src/rp2_common/hardware_clocks/clocks.c
  src/rp2_common/hardware_clocks/include/hardware/clocks.h
Labels: hardware_clocks

#2276 Add enable_interrupts() and disable_interrupts()
  src/rp2_common/hardware_sync/include/hardware/sync.h
Labels: hardware_irq

#2277 Add irq_has_handler() and use it to fix GPIO IRQ assert
  src/rp2_common/hardware_gpio/gpio.c
  src/rp2_common/hardware_irq/include/hardware/irq.h
  src/rp2_common/hardware_irq/irq.c
Labels: hardware_gpio, hardware_irq
