Repository raspberrypi/pico-sdk, pull requests merged in 2025-07, with the labels that each got.

#2541 Added Olimex RP2350-PICO2-XL&XXL boards
  src/boards/include/boards/olimex_rp2350_xl.h
  src/boards/include/boards/olimex_rp2350_xxl.h
Labels: board settings

#2485 Allow pio_encode_sideset_opt(0, value)
  src/rp2_common/hardware_pio/include/hardware/pio_instructions.h
Labels: hardware_pio

#2568 minor tidying of hardware_rcp header; add an `rcp_is_true()` that is …
  src/rp2_common/hardware_rcp/include/hardware/rcp.h
  src/rp2_common/pico_bootrom/bootrom.c
Labels: hardware_rcp

#2575 Update and expand docs/weblinks_page.md
  docs/weblinks_page.md
Labels: documentation

#2594 Fix minor typos in error header (#2594)
  src/common/pico_base_headers/include/pico/error.h
Labels: documentation

#2591 Doxygen "group" fixes
  docs/index.h
  tools/check_all_groups.py
Labels: documentation
