Repository raspberrypi/pico-sdk, pull requests merged in 2025-05, with the labels that each got.

#2468 Fix pioasm build failure caused by GCC 15 changes (#2448)
  tools/pioasm/output_format.h
  tools/pioasm/pio_types.h
Labels: pioasm

#2458 Add support for wiznet_w5100s_evb_pico2
  src/boards/include/boards/wiznet_w5100s_evb_pico2.h
Labels: board settings

#2467 Fix multicore_lockout features so that the victim core cannot become stuck in an infinite loop if the lockout attempt times out
  src/rp2_common/pico_multicore/include/pico/multicore.h
  src/rp2_common/pico_multicore/multicore.c
Labels: pico_multicore

#2461 Update Bazel pin, ignore build-* directories
  .bazelignore
  .bazelrc
  .bazelversion
  REPO.bazel
Labels: build
