Repository raspberrypi/pico-sdk, pull requests merged in 2025-04, with the labels that each got.

#2370 Ensure that all RP2350 board-headers explicitly define PICO_RP2350A
  src/boards/include/boards/pimoroni_pga2350.h
  src/boards/include/boards/pimoroni_pico_plus2_rp2350.h
  src/boards/include/boards/pimoroni_pico_plus2_w_rp2350.h
  src/boards/include/boards/seeed_xiao_rp2350.h
  tools/check_board_header.py
Labels: board settings

#2390 Lots of small doxygen fixes
  docs/index.h
  src/common/pico_base_headers/include/pico/types.h
  src/common/pico_time/include/pico/time.h
  src/rp2_common/hardware_dma/include/hardware/dma.h
  src/rp2_common/hardware_gpio/include/hardware/gpio.h
  src/rp2_common/hardware_i2c/include/hardware/i2c.h
  src/rp2_common/hardware_interp/include/hardware/interp.h
  src/rp2_common/hardware_pio/include/hardware/pio.h
  src/rp2_common/hardware_resets/include/hardware/resets.h
  src/rp2_common/hardware_sha256/include/hardware/sha256.h
  src/rp2_common/hardware_spi/include/hardware/spi.h
  src/rp2_common/hardware_timer/include/hardware/timer.h
  src/rp2_common/pico_async_context/include/pico/async_context.h
  src/rp2_common/pico_bootrom/include/pico/bootrom.h
  src/rp2_common/pico_cyw43_arch/include/pico/cyw43_arch.h
  src/rp2_common/pico_multicore/include/pico/multicore.h
  src/rp2_common/pico_rand/include/pico/rand.h
  src/rp2_common/pico_stdio_usb/include/pico/stdio_usb.h
Labels: documentation

#2423 Make doxygen buildable again
  src/rp2_common/pico_lwip/doc.h
Labels: documentation

#2437 Revert "Make doxygen buildable again (#2423)"
  src/rp2_common/pico_lwip/doc.h
Labels: documentation

#2424 Fix submodule path typos
  src/rp2_common/pico_btstack/CMakeLists.txt
  src/rp2_common/pico_cyw43_driver/CMakeLists.txt
  src/rp2_common/pico_lwip/CMakeLists.txt
  src/rp2_common/pico_mbedtls/CMakeLists.txt
  src/rp2_common/tinyusb/CMakeLists.txt
Labels: documentation

#2443 Ensure each test has a unique name (followup to #2208)
  src/rp2_common/pico_double/double_aeabi_rp2040.S
  test/pico_float_test/custom_double_funcs_test.c
  test/pico_float_test/custom_float_funcs_test.c
Labels: test

#2442 More board-header checks (followup to #2397)
  tools/check_board_header.py
Labels: board settings

#2441 Update hellbender_2350A_devboard.h for release version of the board.
  src/boards/include/boards/hellbender_2350A_devboard.h
Labels: board settings
