Repository raspberrypi/pico-sdk, pull requests merged in 2025-06, with the labels that each got.

#2508 Fix typo
  src/rp2_common/pico_stdio/include/pico/stdio.h
Labels: documentation

#2500 RP2040 and RP2350 have different maximum watchdog delays
  src/rp2_common/hardware_watchdog/include/hardware/watchdog.h
Labels: documentation, hardware_watchdog

#2395 Bazel build implementation, doesn't provide options for the compilation modes opt and debug
  bazel/config/BUILD.bazel
  bazel/constraint/BUILD.bazel
  bazel/toolchain/BUILD.bazel
  tools/compare_build_systems.py
Labels: build

#2531 Fix the "type" of SYS_CLK_VREG_VOLTAGE_AUTO_ADJUST_DELAY_US
  src/rp2_common/hardware_clocks/include/hardware/clocks.h
Labels: hardware_clocks

#2363 Adafruit Fruit Jam board
  src/boards/include/boards/adafruit_fruit_jam.h
Labels: board settings

#2533 Fix ms/us confusion around watchdog time_remaining functions
  src/rp2_common/hardware_watchdog/include/hardware/watchdog.h
  src/rp2_common/hardware_watchdog/watchdog.c
Labels: hardware_watchdog

#2435 Add board header for Waveshare RP2350-USB-A
  src/boards/include/boards/waveshare_rp2350_usb_a.h
Labels: board settings
